<main class="main">
  <div
    class="page-header text-center"
    style="background-image: url('assets/images/page-header-bg.jpg')"
  >
    <div class="container">
      <h1 class="page-title">Checkout<span>Shop</span></h1>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="checkout">
      <div class="container">
        <form [formGroup]="form" (ngSubmit)="addOrder()">
          <div class="row">
            <div class="col-lg-9">
              <h2 class="checkout-title">Billing Details</h2>

              <div class="row">
                <label>Email address *</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  required
                />
              </div>

              <label>Country *</label>
              <input
                type="text"
                class="form-control"
                formControlName="country"
                required
              />

              <label>Street address *</label>
              <input
                type="text"
                class="form-control"
                formControlName="address"
                placeholder="House number and Street name"
                required
              />
            </div>

            <aside class="col-lg-3">
              <div class="summary">
                <h3 class="summary-title">Your Order</h3>

                <table class="table table-summary">
                  <thead>
                    <tr>
                      <th>Product ({{ carts.length || 0 }})</th>
                      <th>Total</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let cart of carts">
                      <td>
                        <a href="#">{{ cart.name }}</a>
                      </td>
                      <td>${{ cart.price }}</td>
                    </tr>

                    <tr class="summary-subtotal">
                      <td>Subtotal:</td>
                      <td>${{ getSubtotal() }}</td>
                    </tr>

                    <tr>
                      <td>Shipping:</td>
                      <td>$10.00</td>
                    </tr>

                    <tr class="summary-total">
                      <td>Total:</td>
                      <td>${{ getSubtotal() + 10 }}</td>
                    </tr>
                  </tbody>
                </table>

                <div class="accordion-summary" id="accordion-payment">
                  <div class="card">
                    <div class="card-header" id="heading-3">
                      <h2 class="card-title">
                        <a
                          class="collapsed"
                          role="button"
                          data-toggle="collapse"
                          href="#collapse-3"
                          aria-expanded="false"
                          aria-controls="collapse-3"
                        >
                          Cash on delivery
                        </a>
                      </h2>
                    </div>

                    <div
                      id="collapse-3"
                      class="collapse"
                      aria-labelledby="heading-3"
                      data-parent="#accordion-payment"
                    >
                      <div class="card-body">
                        Quisque volutpat mattis eros. Lorem ipsum dolor sit
                        amet, consectetuer adipiscing elit.
                      </div>
                    </div>
                  </div>
                </div>

                <button
                  type="submit"
                  class="btn btn-outline-primary-2 btn-order btn-block"
                >
                  <span class="btn-text">Place Order</span>
                  <span class="btn-hover-text">Proceed to Checkout</span>
                </button>
              </div>
            </aside>
          </div>
        </form>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .checkout -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
