// .header{
//     position: sticky;
 

// }





// }
// .header.scrolled {
//   background: rgba(255, 255, 255, 0.3);
//   backdrop-filter: blur(10px);
//   -webkit-backdrop-filter: blur(10px);
//   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
// }
/* Transparent header background */
.header {
  background-color: transparent;
  position: fixed;
  padding-top: 5px;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays above other elements */
  transition: background-color 0.3s ease;
}



.header.scrolled {
    
    
  background-color: #6c81c3; /* or any fallback color */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 100px;
}
